body{
  text-align: center;
  font-family: Helvetica;
}
.container{
 position: relative;
 font-weight: bold;
 margin-top: -10px;
 height: 500px;
 margin-bottom: -320px;
}
.Broadway{
  position: absolute;
  top: 30%;
  left: 50%;
  margin-top: -65px;
  transform: translate(-50%, -50%);
}
.container2{
 position: relative;
 font-weight: bold;
}
.Broadway2{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
h4{
  font-size: 32px;
  font-weight: bold;
}
p{
  font-size: 14px;
}
h5, h3{
  font-size: 23px;
  font-weight: bold;
}
.copy{
  font-size: 11px;
}
.links{
  font-size: 18px;
  color: white;
}
a{
  color: white;
}
#main-title{
  font-size: 70px;
  font-weight: bold;
  color: white;
  margin-bottom: -5px;
}
footer{
  text-align:left;
  background-color: dimgray;
}
